<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>

		Socket
	</title>
</head>
 <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
       .hidden{
       	display: none;
       }
    </style>
<body>

	

	<h2>Chat</h2>
	<div id="chat">

		<ul id="messages">
	        <li v-for="chat_message in messages" :key="chat_message.id" :class="chat_message.class"><i>{{ chat_message.name }}</i> <p>{{ chat_message.message }}</p>  </li>
	        <i class="typing hidden"> typing... </i>
	    </ul>

		<form v-on:submit="send3333">
			NAME
			<input v-model="chat_message.name" required id="name"> <br>
			chat
			<input v-model="chat_message.message" onkeyup="Typeing();">
			<button>Send</button>

		</form>

	</div>



	<br>
	<h2>GPS</h2> 

	<div id="gps">
		
		<form v-on:submit="sendgps">
			urt
			<input v-model="urt"> <br>
			urgun
			<input v-model="urgun">
			<button>Send</button>

		</form>

	</div>


	<h3>Socket</h3>
	 <h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDe0oBRtJMjHilHZyFzeX-Lg0VKNymeDvk&callback=initMap">
    </script>
	<script>

		function getUserIP(onNewIP) { //  onNewIp - your listener function for new IPs
		    //compatibility for firefox and chrome
		    var myPeerConnection = window.RTCPeerConnection || window.mozRTCPeerConnection || window.webkitRTCPeerConnection;
		    var pc = new myPeerConnection({
		        iceServers: []
		    }),
		    noop = function() {},
		    localIPs = {},
		    ipRegex = /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/g,
		    key;

		    function iterateIP(ip) {
		        if (!localIPs[ip]) onNewIP(ip);
		        localIPs[ip] = true;
		    }

		     //create a bogus data channel
		    pc.createDataChannel("");

		    // create offer and set local description
		    pc.createOffer(function(sdp) {
		        sdp.sdp.split('\n').forEach(function(line) {
		            if (line.indexOf('candidate') < 0) return;
		            line.match(ipRegex).forEach(iterateIP);
		        });
		        
		        pc.setLocalDescription(sdp, noop, noop);
		    }, noop); 

		    //listen for candidate events
		    pc.onicecandidate = function(ice) {
		        if (!ice || !ice.candidate || !ice.candidate.candidate || !ice.candidate.candidate.match(ipRegex)) return;
		        ice.candidate.candidate.match(ipRegex).forEach(iterateIP);
		    };
		}

		// Usage
		    var my_ip;
		    getUserIP(function(ip){
		//         alert(ip);
		        my_ip = ip;
		    });


	var lat_gps = -25.344;
	var lng_gps = 131.036;

	function initMap(lat_gps, lng_gps) {

		console.log(lat_gps,lng_gps);

	  // The location of Uluru
	  if(lat_gps == undefined || lng_gps == undefined){
	  	var uluru = {lat: -25.344, lng: 131.036};
	  }
	  else{
	  	var uluru = {lat: parseFloat(lat_gps), lng: parseFloat(lng_gps)};
	  }
	 
	  // The map, centered at Uluru
	  // console.log(uluru);
	  var map = new google.maps.Map(
	      document.getElementById('map'), {zoom: 4, center: uluru});
	  // The marker, positioned at Uluru
	  var marker = new google.maps.Marker({position: uluru, map: map});
	}


	var socket = io();


	function Typeing(){
		socket.emit('chat.typing',$('#name').val());
	}
	   socket.on('chat.typing', function(name) {
	   		$('.typing').removeClass('hidden').html(name+' is typing...');
	   		setTimeout(function () { 
				    $('.typing').addClass('hidden');
				}, 3000);
	   });
		
		

		new Vue({

			el:'#chat',

			data : {
				messages: [],

				chat_message :{
					message:'',
					name:'',
					seen:'',
					time:''
				}
			},

			mounted: function() {

		        socket.on('chat.message', function(chating_message , sender_ip) {
		        	$('.typing').addClass('hidden');
	        	 	if(my_ip == sender_ip){
	                  console.log(chating_message);

	                  var append_msj = {
		                  	message:chating_message.message,
							name:chating_message.name,
							seen:'',
							time:'',
							class:'my_message'
	                  };

	                  this.messages.push(append_msj);

	                }
	                else{
	                  console.log('other message');

	                  var append_msj = {
		                  	message:chating_message.message,
							name:chating_message.name,
							seen:'',
							time:'',
							class:'other_message'
	                  };
	                  this.messages.push(append_msj);
	                }

		        }.bind(this));

		    },

			methods: {
				send3333: function(e) {

					// var item = {
					// 	name ''
					// };
					// console.log(this.name)
					// alert('msj');
					socket.emit('chat.message',this.chat_message , my_ip);

					this.chat_message.message = '';

					e.preventDefault();

				}
			}

		});

		new Vue({

			el:'#gps',

			data : {
				messages: [],
				urgun:'',
				urt:''
			},

			mounted: function() {

		        socket.on('gps.message', function(urgun , urt) {

		            // this.messages.push(name + ' : ' + message);

		            initMap(urgun,urt);

		        }.bind(this));

		    },

			methods: {
				sendgps: function(e) {

					// var item = {
					// 	name ''
					// };
					// console.log(this.name)
					// alert('gps');
					socket.emit('gps.message',this.urgun,this.urt);

					this.message = '';

					e.preventDefault();

				}
			}

		});

	</script>

	
</body>
</html>